body {
    background-image: url("../img/bgsiesta.jpg");
}
#gameBoard {
    width: 600px;
    height: 600px;
    border-radius: 30%;
    margin: 100px auto;
    position: relative;
    box-shadow: 0px 0px 150px #333;
}
#middleCircle {
    height: 300px;
    width: 300px;
    text-align: center;
    background-image: url("../img/wb.jpg");
    position:absolute;
    left:150px;
    border-radius: 50%;
    top:150px;
    z-index: 100;
    box-shadow: 0px 0px 55px #000;
    cursor: pointer;
}
h1 {
    color:red;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    font-family:'Yellowtail';
}
p {
    color:white;
    font-size: 16px;
    font-family:'Oswald';
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    top:-10px;
}
h2 {
    padding-top: 25%;
    margin-top:5px;
    color:white;
    text-align: center;
    font-family:'Oswald';
    font-size: 40px;
}
.square {
    width: 300px;
    height: 300px;
    float: left;
}

.one {
    background-image: url("../img/weston.png");
    border-radius: 30% 0 0 0;
}
.two {
    background-image: url("../img/bryson.png");
    border-radius: 0 30% 0 0;
}
.three {
    background-image: url("../img/uncled.png");
    border-radius: 0 0 0 30%;
}
.four {
    background-image: url("../img/grandma.png");
    border-radius: 0 0 30% 0;
}